<div class="pt-12 pl-9 flex">
    <div>
        <h1 class="text-display_sm font-medium">Data Sharing</h1>
        <p class="text-text_md font-regular text-gray-500">Berbagi data siswa dengan aman menggunakan blockchain</p>
    </div>
    <!-- <div class="float-right">
        <div class="float-right">
            <div class="mb-3 xl:w-96">
                <select class="form-select appearance-none
                h-11 
                w-96
                block
                px-3
                py-1.5
                text-base
                font-normal
                text-text-base
                bg-white bg-clip-padding bg-no-repeat
                border border-solid border-gray-300
                focus:ring-primary-600
                transition
                ease-in-out
                m-0
                rounded-lg
                focus:text-white focus:bg-white focus:outline-none" aria-label="Default select example">
                    <option selected>Pilih jenis studi</option>
                    <option value="1">Reguler</option>
                    <option value="2">Akselerasi</option>
                    <option value="3">Lainnya</option>
                </select>
            </div>
        </div> 
    </div> -->
</div>