<div class="pt-12 pl-9">
    <h1 class="text-display_sm font-medium">Selamat Datang, Olivia</h1>
    <p class="text-text_md font-regular text-gray-500">Simpan, lacak, dan managemen nilai siswa terintegrasi blockchain</p>
</div>