<div class="pt-12 pl-9 flex">
    <div>
        <h1 class="text-display_sm font-medium">Siswa</h1>
        <p class="text-text_md font-regular text-gray-500">Atur kelas dan siswa setiap tingkatan</p>
    </div>
    <!-- <div class="float-right">
        <div class="float-right">
            <div class="mb-3 xl:w-96">
                <select class="form-select appearance-none
                h-11 
                w-96
                block
                px-3
                py-1.5
                text-base
                font-normal
                text-text-base
                bg-white bg-clip-padding bg-no-repeat
                border border-solid border-gray-300
                focus:ring-primary-600
                transition
                ease-in-out
                m-0
                rounded-lg
                focus:text-white focus:bg-white focus:outline-none" aria-label="Default select example">
                    <option selected>Pilih jenis studi</option>
                    <option value="1">Reguler</option>
                    <option value="2">Akselerasi</option>
                    <option value="3">Lainnya</option>
                </select>
            </div>
        </div> 
    </div> -->
</div>

<div class="pl-8 pr-14 pt-5">
    <div class="overflow-x-auto relative shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left text-gray-500">
            <caption class="p-5 font-semibold text-text-base bg-white">
                <div class="flex items-center">
                    <h1 class="text-left flex-1">Tingkat 10</h1>
                    <div>
                        <button type="button" class="bg-white text-text-base text-text_sm font-semibold rounded-lg
                        border border-gray-300 px-4 py-3 mr-3">Upload CSV</button>
                        <button type="button" class="bg-primary-600 text-white text-text_sm rounded-lg text-center inline-flex items-center px-4 py-3">
                            <!-- <img src="/assets/plus.png" alt="" class="w-5 h-5"> -->
                            Tambah Kelas</button>
                    </div>
                </div>
            </caption>
            <thead class="text-text_sm font-medium text-gray-500 bg-gray-50">
                <tr>
                    <th scope="col" class="py-3 px-6">
                        Nama Kelas
                    </th>
                    <th scope="col" class="py-3 px-6">
                        Jurusan
                    </th>
                    <th scope="col" class="py-3 px-6">
                        Standar Kurikulum
                    </th>
                    <th scope="col" class="py-3 px-6">
                        Date Uploaded
                    </th>
                    <th scope="col" class="py-3 px-6">
                        Last Updated
                    </th>
                    <th scope="col" class="py-3 px-6">
                        <span class="sr-only"></span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="bg-white border-b">
                    <th scope="row" class="py-7 px-8 font-medium text-text-base whitespace-nowrap">
                        X MIPA 1
                    </th>
                    <td class="py-7 px-8 ">
                        MIPA
                    </td>
                    <td class="py-7 px-8 ">
                        K13
                    </td>
                    <td class="py-7 px-8 ">
                        Jan 4, 2022
                    </td>
                    <td class="py-7 px-8 ">
                        Jan 4, 2022
                    </td>
                    <td class="py-7 px-8 text-right">
                        <img src="/assets/more-vertical.png" alt="" style="height:20px ; width: 20px;">
                    </td>
                </tr>
                <tr class="bg-white border-b">
                    <th scope="row" class="py-7 px-8 font-medium text-text-base whitespace-nowrap">
                        X MIPA 1
                    </th>
                    <td class="py-7 px-8 ">
                        MIPA
                    </td>
                    <td class="py-7 px-8 ">
                        K13
                    </td>
                    <td class="py-7 px-8 ">
                        Jan 4, 2022
                    </td>
                    <td class="py-7 px-8 ">
                        Jan 4, 2022
                    </td>
                    <td class="py-7 px-8 text-right">
                        <img src="/assets/more-vertical.png" alt="" style="height:20px ; width: 20px;">
                    </td>
                </tr>
                <tr class="bg-white border-b">
                    <th scope="row" class="py-7 px-8 font-medium text-text-base whitespace-nowrap">
                        X MIPA 1
                    </th>
                    <td class="py-7 px-8 ">
                        MIPA
                    </td>
                    <td class="py-7 px-8 ">
                        K13
                    </td>
                    <td class="py-7 px-8 ">
                        Jan 4, 2022
                    </td>
                    <td class="py-7 px-8 ">
                        Jan 4, 2022
                    </td>
                    <td class="py-7 px-8 text-right">
                        <img src="/assets/more-vertical.png" alt="" style="height:20px ; width: 20px;">
                    </td>
                </tr>
                <tr class="bg-white border-b">
                    <th scope="row" class="py-7 px-8 font-medium text-text-base whitespace-nowrap">
                        X MIPA 1
                    </th>
                    <td class="py-7 px-8 ">
                        MIPA
                    </td>
                    <td class="py-7 px-8 ">
                        K13
                    </td>
                    <td class="py-7 px-8 ">
                        Jan 4, 2022
                    </td>
                    <td class="py-7 px-8 ">
                        Jan 4, 2022
                    </td>
                    <td class="py-7 px-8 text-right">
                        <img src="/assets/more-vertical.png" alt="" style="height:20px ; width: 20px;">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="pl-8 pr-14 pt-5">
    <div class="overflow-x-auto relative shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left text-gray-500">
            <caption class="p-5 font-semibold text-text-base bg-white">
                <div class="flex items-center">
                    <h1 class="text-left flex-1">Tingkat 11</h1>
                    <div>
                        <button type="button" class="bg-white text-text-base text-text_sm font-semibold rounded-lg
                        border border-gray-300 px-4 py-3 mr-3">Upload CSV</button>
                        <button type="button" class="bg-primary-600 text-white text-text_sm rounded-lg text-center inline-flex items-center px-4 py-3">
                            <!-- <img src="/assets/plus.png" alt="" class="w-5 h-5"> -->
                            Tambah Kelas</button>
                    </div>
                </div>
            </caption>
            <thead class="text-text_sm font-medium text-gray-500 bg-gray-50">
                <tr>
                    <th scope="col" class="py-3 px-6">
                        Nama Kelas
                    </th>
                    <th scope="col" class="py-3 px-6">
                        Jurusan
                    </th>
                    <th scope="col" class="py-3 px-6">
                        Standar Kurikulum
                    </th>
                    <th scope="col" class="py-3 px-6">
                        Date Uploaded
                    </th>
                    <th scope="col" class="py-3 px-6">
                        Last Updated
                    </th>
                    <th scope="col" class="py-3 px-6">
                        <span class="sr-only"></span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="bg-white border-b">
                    <th scope="row" class="py-7 px-8 font-medium text-text-base whitespace-nowrap">
                        X MIPA 1
                    </th>
                    <td class="py-7 px-8 ">
                        MIPA
                    </td>
                    <td class="py-7 px-8 ">
                        K13
                    </td>
                    <td class="py-7 px-8 ">
                        Jan 4, 2022
                    </td>
                    <td class="py-7 px-8 ">
                        Jan 4, 2022
                    </td>
                    <td class="py-7 px-8 text-right">
                        <img src="/assets/more-vertical.png" alt="" style="height:20px ; width: 20px;">
                    </td>
                </tr>
                <tr class="bg-white border-b">
                    <th scope="row" class="py-7 px-8 font-medium text-text-base whitespace-nowrap">
                        X MIPA 1
                    </th>
                    <td class="py-7 px-8 ">
                        MIPA
                    </td>
                    <td class="py-7 px-8 ">
                        K13
                    </td>
                    <td class="py-7 px-8 ">
                        Jan 4, 2022
                    </td>
                    <td class="py-7 px-8 ">
                        Jan 4, 2022
                    </td>
                    <td class="py-7 px-8 text-right">
                        <img src="/assets/more-vertical.png" alt="" style="height:20px ; width: 20px;">
                    </td>
                </tr>
                <tr class="bg-white border-b">
                    <th scope="row" class="py-7 px-8 font-medium text-text-base whitespace-nowrap">
                        X MIPA 1
                    </th>
                    <td class="py-7 px-8 ">
                        MIPA
                    </td>
                    <td class="py-7 px-8 ">
                        K13
                    </td>
                    <td class="py-7 px-8 ">
                        Jan 4, 2022
                    </td>
                    <td class="py-7 px-8 ">
                        Jan 4, 2022
                    </td>
                    <td class="py-7 px-8 text-right">
                        <img src="/assets/more-vertical.png" alt="" style="height:20px ; width: 20px;">
                    </td>
                </tr>
                <tr class="bg-white border-b">
                    <th scope="row" class="py-7 px-8 font-medium text-text-base whitespace-nowrap">
                        X MIPA 1
                    </th>
                    <td class="py-7 px-8 ">
                        MIPA
                    </td>
                    <td class="py-7 px-8 ">
                        K13
                    </td>
                    <td class="py-7 px-8 ">
                        Jan 4, 2022
                    </td>
                    <td class="py-7 px-8 ">
                        Jan 4, 2022
                    </td>
                    <td class="py-7 px-8 text-right">
                        <img src="/assets/more-vertical.png" alt="" style="height:20px ; width: 20px;">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="pl-8 pr-14 pt-5">
    <div class="overflow-x-auto relative shadow-md sm:rounded-lg">
        <table class="w-full text-sm text-left text-gray-500">
            <caption class="p-5 font-semibold text-text-base bg-white">
                <div class="flex items-center">
                    <h1 class="text-left flex-1">Tingkat 12</h1>
                    <div>
                        <button type="button" class="bg-white text-text-base text-text_sm font-semibold rounded-lg
                        border border-gray-300 px-4 py-3 mr-3">Upload CSV</button>
                        <button type="button" class="bg-primary-600 text-white text-text_sm rounded-lg text-center inline-flex items-center px-4 py-3">
                            <!-- <img src="/assets/plus.png" alt="" class="w-5 h-5"> -->
                            Tambah Kelas</button>
                    </div>
                </div>
            </caption>
            <thead class="text-text_sm font-medium text-gray-500 bg-gray-50">
                <tr>
                    <th scope="col" class="py-3 px-6">
                        Nama Kelas
                    </th>
                    <th scope="col" class="py-3 px-6">
                        Jurusan
                    </th>
                    <th scope="col" class="py-3 px-6">
                        Standar Kurikulum
                    </th>
                    <th scope="col" class="py-3 px-6">
                        Date Uploaded
                    </th>
                    <th scope="col" class="py-3 px-6">
                        Last Updated
                    </th>
                    <th scope="col" class="py-3 px-6">
                        <span class="sr-only"></span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="bg-white border-b">
                    <th scope="row" class="py-7 px-8 font-medium text-text-base whitespace-nowrap">
                        X MIPA 1
                    </th>
                    <td class="py-7 px-8 ">
                        MIPA
                    </td>
                    <td class="py-7 px-8 ">
                        K13
                    </td>
                    <td class="py-7 px-8 ">
                        Jan 4, 2022
                    </td>
                    <td class="py-7 px-8 ">
                        Jan 4, 2022
                    </td>
                    <td class="py-7 px-8 text-right">
                        <img src="/assets/more-vertical.png" alt="" style="height:20px ; width: 20px;">
                    </td>
                </tr>
                <tr class="bg-white border-b">
                    <th scope="row" class="py-7 px-8 font-medium text-text-base whitespace-nowrap">
                        X MIPA 1
                    </th>
                    <td class="py-7 px-8 ">
                        MIPA
                    </td>
                    <td class="py-7 px-8 ">
                        K13
                    </td>
                    <td class="py-7 px-8 ">
                        Jan 4, 2022
                    </td>
                    <td class="py-7 px-8 ">
                        Jan 4, 2022
                    </td>
                    <td class="py-7 px-8 text-right">
                        <img src="/assets/more-vertical.png" alt="" style="height:20px ; width: 20px;">
                    </td>
                </tr>
                <tr class="bg-white border-b">
                    <th scope="row" class="py-7 px-8 font-medium text-text-base whitespace-nowrap">
                        X MIPA 1
                    </th>
                    <td class="py-7 px-8 ">
                        MIPA
                    </td>
                    <td class="py-7 px-8 ">
                        K13
                    </td>
                    <td class="py-7 px-8 ">
                        Jan 4, 2022
                    </td>
                    <td class="py-7 px-8 ">
                        Jan 4, 2022
                    </td>
                    <td class="py-7 px-8 text-right">
                        <img src="/assets/more-vertical.png" alt="" style="height:20px ; width: 20px;">
                    </td>
                </tr>
                <tr class="bg-white border-b">
                    <th scope="row" class="py-7 px-8 font-medium text-text-base whitespace-nowrap">
                        X MIPA 1
                    </th>
                    <td class="py-7 px-8 ">
                        MIPA
                    </td>
                    <td class="py-7 px-8 ">
                        K13
                    </td>
                    <td class="py-7 px-8 ">
                        Jan 4, 2022
                    </td>
                    <td class="py-7 px-8 ">
                        Jan 4, 2022
                    </td>
                    <td class="py-7 px-8 text-right">
                        <img src="/assets/more-vertical.png" alt="" style="height:20px ; width: 20px;">
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>