<div class="pt-12 pl-9 flex">
    <div>
        <h1 class="text-display_sm font-medium">Tambah Mata Pelajaran</h1>
        <p class="text-text_md font-regular text-gray-500">Atur kurikulum dan mata pelajaran setiap tingkatan</p>
    </div>
</div>

<div class="flex items-start pl-9 pt-5">
    <div class="p-5 w-72  mr-14 border border-gray-200 shadow-md rounded-lg">
        <div class="pb-5">
            <h1 class="text-text_lg font-medium">Jenis Studi</h1>
            <p class="text-text_md font-regular">Reguler</p>
        </div>
        <div class="pb-5">
            <h1 class="text-text_lg font-medium">Jurusan</h1>
            <p class="text-text_md font-regular"><%= dataJurusan.jurusan %> </p>
        </div>
        <div class="pb-5">
            <h1 class="text-text_lg font-medium">Semester</h1>
            <p class="text-text_md font-regular"><%= dataJurusan.semester %></p>
        </div>
        <div class="pb-5">
            <h1 class="text-text_lg font-medium">Standar Kurikulum</h1>
            <p class="text-text_md font-regular"><%= dataJurusan.standar_kurikulum %></p>
        </div>
        <div>
            <h1 class="text-text_lg font-medium">Skala Penilaian</h1>
            <p class="text-text_md font-regular"><%= dataJurusan.skala_penilaian %></p>
        </div>
    </div>
    
    <div class="pr-14 pb-10 w-full">
        <div class="overflow-x-auto w-full shadow-md sm:rounded-lg">
            <table class="w-full text-left text-gray-500 bg-primary-600">
                <caption class="p-5 font-semibold text-text-base bg-white">
                    <div class="flex items-center">
                        <h1 class="text-left flex-1 text-display_xs">Daftar Mata Pelajaran</h1>
                        <div>
                            <button type="button" class="bg-white text-text-base text-text_sm font-semibold rounded-lg
                            border border-gray-300 px-4 py-3 mr-3">Upload CSV</button>
                            <button type="button" class="bg-primary-600 text-white text-text_sm rounded-lg text-center inline-flex items-center px-4 py-3">
                                <span class="mr-2"><img src="/assets/plus.png" alt="" class=" w-5 h-5"></span>
                                Tambah Mata Pelajaran</button>
                        </div>
                    </div>
                </caption>
                <thead class="text-text_sm font-medium text-gray-500 bg-gray-50">
                    <tr>
                        <th scope="col" class="py-3 px-6">
                            Nama Mata Pelajaran
                        </th>
                        <th scope="col" class="py-3 px-6">
                            KKM
                        </th>
                        <th scope="col" class="py-3 px-6">
                            Durasi Jam Pelajaran
                        </th>
                        <th scope="col" class="py-3 px-6">
                            Date Uploaded
                        </th>
                        <th scope="col" class="py-3 px-6">
                            Last Updated
                        </th>
                        <th scope="col" class="py-3 px-6">
                            <span class="sr-only"></span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="bg-white border-b">
                        <th scope="row" class="py-7 px-8 font-medium text-text-base whitespace-nowrap">
                            Agama
                        </th>
                        <td class="py-7 px-8 ">
                            75
                        </td>
                        <td class="py-7 px-8 ">
                            32
                        </td>
                        <td class="py-7 px-8 ">
                            Jan 4, 2022
                        </td>
                        <td class="py-7 px-8 ">
                            Jan 4, 2022
                        </td>
                        <td class="py-7 px-8 text-right">
                            <img src="/assets/more-vertical.png" alt="" style="height:20px ; width: 20px;">
                        </td>
                    </tr>
                    <tr class="bg-white border-b">
                        <th scope="row" class="py-7 px-8 font-medium text-text-base whitespace-nowrap">
                            Agama
                        </th>
                        <td class="py-7 px-8 ">
                            75
                        </td>
                        <td class="py-7 px-8 ">
                            32
                        </td>
                        <td class="py-7 px-8 ">
                            Jan 4, 2022
                        </td>
                        <td class="py-7 px-8 ">
                            Jan 4, 2022
                        </td>
                        <td class="py-7 px-8 text-right">
                            <img src="/assets/more-vertical.png" alt="" style="height:20px ; width: 20px;">
                        </td>
                    </tr>
                    <tr class="bg-white border-b">
                        <th scope="row" class="py-7 px-8 font-medium text-text-base whitespace-nowrap">
                            Agama
                        </th>
                        <td class="py-7 px-8 ">
                            75
                        </td>
                        <td class="py-7 px-8 ">
                            32
                        </td>
                        <td class="py-7 px-8 ">
                            Jan 4, 2022
                        </td>
                        <td class="py-7 px-8 ">
                            Jan 4, 2022
                        </td>
                        <td class="py-7 px-8 text-right">
                            <img src="/assets/more-vertical.png" alt="" style="height:20px ; width: 20px;">
                        </td>
                    </tr>
                    <tr class="bg-white border-b">
                        <th scope="row" class="py-7 px-8 font-medium text-text-base whitespace-nowrap">
                            Agama
                        </th>
                        <td class="py-7 px-8 ">
                            75
                        </td>
                        <td class="py-7 px-8 ">
                            32
                        </td>
                        <td class="py-7 px-8 ">
                            Jan 4, 2022
                        </td>
                        <td class="py-7 px-8 ">
                            Jan 4, 2022
                        </td>
                        <td class="py-7 px-8 text-right">
                            <img src="/assets/more-vertical.png" alt="" style="height:20px ; width: 20px;">
                        </td>
                    </tr>
                    <tr class="bg-white border-b">
                        <th scope="row" class="py-7 px-8 font-medium text-text-base whitespace-nowrap">
                            Agama
                        </th>
                        <td class="py-7 px-8 ">
                            75
                        </td>
                        <td class="py-7 px-8 ">
                            32
                        </td>
                        <td class="py-7 px-8 ">
                            Jan 4, 2022
                        </td>
                        <td class="py-7 px-8 ">
                            Jan 4, 2022
                        </td>
                        <td class="py-7 px-8 text-right">
                            <img src="/assets/more-vertical.png" alt="" style="height:20px ; width: 20px;">
                        </td>
                    </tr>
                    <tr class="bg-white border-b">
                        <th scope="row" class="py-7 px-8 font-medium text-text-base whitespace-nowrap">
                            Agama
                        </th>
                        <td class="py-7 px-8 ">
                            75
                        </td>
                        <td class="py-7 px-8 ">
                            32
                        </td>
                        <td class="py-7 px-8 ">
                            Jan 4, 2022
                        </td>
                        <td class="py-7 px-8 ">
                            Jan 4, 2022
                        </td>
                        <td class="py-7 px-8 text-right">
                            <img src="/assets/more-vertical.png" alt="" style="height:20px ; width: 20px;">
                        </td>
                    </tr>
                    
                </tbody>
            </table>
        </div>
    </div>
</div>