<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">

</head>
<body class="font-inter">
    <div class="pt-5 px-9">
        <div class="border border-gray-300 rounded-lg px-9 py-7">
            <div class="mb-3 mr-5 pb-4">
                <h1 class="text-text_lg font-medium">Tambah Jurusan</h1>
            </div>
            <div class="mb-3 mr-5">
                <label for="nama_siswa" class="block text-text_sm font-medium">Nama Siswa</label>
                <input type="text" placeholder="Input nama siswa" name="mata_pelajaran" class="h-11 w-96 rounded-lg ring-gray-300 focus:ring-primary-600" required>
            </div>
            <div class="mb-3 mr-5 pt-5">
                <label for="NISN" class="block text-text_sm font-medium">NISN</label>
                <input type="text" placeholder="Input NISN siswa" name="NISN" class="h-11 w-96 rounded-lg ring-gray-300 focus:ring-primary-600" required>
                <p id="helper-text-explanation" class="mt-0.5 text-text_sm text-gray-500 dark:text-gray-400">NISN berupa angka</p>
            </div>
            <div class="pt-5 px-9 flex justify-end">
                <button type="button" class="bg-primary-600 text-white text-text_md rounded-lg text-center inline-flex items-center px-5 py-3">
                    <!-- <img src="/assets/plus.png" alt="" class=" flex w-5 h-5"> -->
                    Tambah</button>
            </div>
        </div>
    </div>
</body>
</html>